.footer-link-list li a {
    font-size: 13px !important;
}

.footer-link {
    color: inherit;
    box-sizing: border-box;
    transition: 0.4s;
}

.footer-link:hover::before {
    width: 50%;
}

.footer-link::before {
    background: white;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    transition: 0.4s;
}

.navbar-toggler-icon-home {
    background: white !important;
    background-color: white !important;
}

.playtech-ref-link {
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    filter: drop-shadow(0px 0px 2px black);
}

.playtech-ref-link:hover {
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
    filter: drop-shadow(0px 0px 2px black);
}

.playtech-ref-link:hover::before {
    width: 100% !important;
}

.product-card, .product-image {
    max-width: 350px;
    width: 90vw;
}

.product-image {
    max-height: 400px;
}

.product-image-div {
    height: 400px;
    padding: 0;
    margin: 0;
}

.product-price {
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
}

.product-buy-button {
    background-color: black !important;
    border-color: black !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    max-width: 100% !important;
}

.product-buy-button:hover {
    background-color: white !important;
    border-color: white !important;
    border-width: 3px !important;
    color: black !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}